<div style="width:800px; margin:0 auto;">
  <form [formGroup]="filtersForm" (ngSubmit)="submitForm()" ngxsForm="form.person">
    <mat-card>
      <mat-card-header>
          <mat-card-title>NGXS FORM Example by NACIM ISSAM</mat-card-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-card-header>

      <div>
        <mat-form-field>
          <input matInput placeholder="Nom" formControlName="nom">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Prenom" formControlName="prenom">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Age" formControlName="age">
        </mat-form-field>
      </div>
      <mat-action-row>
          <button mat-raised-button type="submit">Submit</button>
      </mat-action-row>
    </mat-card>
  </form>
</div>
